.container-home {
  display: flex;
  height: 100vh;
  background-color: #f6f4f4;
}
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150%;
  padding: 20px;
  overflow-y: auto;
}

main {
  text-align: center;
  max-width: 600px;
}

main h1 {
  color: #043873;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

main p {
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
  width: auto;
}

main a {
  display: inline-block;
  background-color: #4b85fa;
  color: #f6f4f4;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

main a:hover {
  background-color: #043873;
  color: #f6f4f4;
  transform: scale(1.05);
}
