.container-relatorios {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #043873;
  color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  display: block;
}

.sidebar a.active {
  background-color: #0044cc; /* Fundo do link ativo */
  color: #ffffff; /* Cor do texto ativo */
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo img {
  width: 100;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 20px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links .active {
  font-weight: bold;
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f7f7f7;
}

.header {
  display: flex;
  justify-content: space-between;
}

.report-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.chart {
  height: 200px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.mensal {
  background-color: #6574cd;
}

.dot.quinzenal {
  background-color: #a3bffa;
}

.dot.semanal {
  background-color: #e0e7ff;
}
