<div class="container-relatorios">

  <nav class="sidebar">
    <div class="logo">
    <img class="logo" src="assets/logo-white.png" alt="Logo">
    </div>
    <a routerLink="home" routerLinkActive="active">Main</a>
    <a routerLink="view" routerLinkActive="active">View</a>
    <a routerLink="report" routerLinkActive="active">Report</a>
  </nav>

  <main class="content">
    <header class="header">
      <h1>Relatórios Gerais</h1>
      <div class="profile">
        <span>Oberon Shaw, MCH</span>
        <p>Gerente Financeiro Geral</p>
      </div>
    </header>
    <div class="report-card">
      <h2>Ciclos de Faturamento</h2>
      <p>De 01 a 12 Dez, 2023</p>
      <div class="chart">
        <!-- Placeholder for the chart -->
      </div>
      <div class="info">
        <p><span class="dot mensal"></span> Mensal - 40%</p>
        <p><span class="dot quinzenal"></span> Quinzenal - 32%</p>
        <p><span class="dot semanal"></span> Semanal - 28%</p>
      </div>
    </div>
  </main>
</div>
