<div class="main-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="logo">
      <img class="logo" src="assets/logo-white.png" alt="Logo">
    </div>
    <a routerLink="home" routerLinkActive="active">Main</a>
    <a routerLink="view" routerLinkActive="active">View</a>
    <a routerLink="report" routerLinkActive="active">Report</a>
  </nav>

  <!-- Main Content -->
  <div class="content">
    <header class="header">
      <h1>Bem Vindo à Página Principal!</h1>
      <div class="user-info">
        <img src="assets/avatar.png" alt="Avatar">
        <span>Oberon Shaw, MCH</span>
        <span>Gerente Financeiro Geral</span>
      </div>
    </header>

    <section class="management">
      <h2>Gerencie o cadastro de seus clientes</h2>
      <button class="btn-primary">Visualizar cadastros</button>
      <img src="assets/gerencia.png" alt="Gerência">
    </section>

    <section class="recent-requests">
      <img src="assets/solicitacoes.png" alt="Solicitações">
    </section>
  </div>
</div>
