<div class="container-invoice">
  <app-side-bar-menu></app-side-bar-menu>
  <main class="content">

    <div class="search-bar">
      <form (ngSubmit)="onSubmitQuery()" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-white text-bg-white" placeholder="Pesquise pelo CNPJ ou ID" aria-label="Search"name="inputData" [(ngModel)]="inputData"/>
      </form>
    </div>

     @if(showConfigs) {
      <table>
        <thead>
          <tr>
            <th></th>
            <th>CompanyId</th>
            <th>Billing Cycle</th>
            <th>ActivationDate</th>
            <th>Fiscal Documents</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          @for(config of configs; track $index) {
            <tr>
                <td><input type="checkbox" /></td>
                <td>{{ config.companyId }}</td>
                <td>{{ config.billingCycle }}</td>
                <td>{{ config.activationDateTime | date: "fullDate"  }}</td>
                <td>
                  @for(doc of config.fiscalDocuments; track $index) {
                      {{config.fiscalDocuments.length == $index + 1 ? doc : doc + " | "}}
                  }
                </td>
                <td><a href="#">✏️</a></td>
          </tr>
        }
        </tbody>
      </table>
     }
  </main>
</div>
