.container-invoice {
  display: flex;
  height: 100vh;
  background-color: #f6f4f4;
}

.content {
  width: 150%;
  padding: 20px;
  overflow-y: auto;
}

.alert {
  background-color: #ffe5e5;
  padding: 10px;
  color: red;
  margin: 10px 0;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}

.table thead {
  background-color: #4CAF50;
  color: white;
}

.table th {
  padding: 12px 15px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s ease-in-out;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table td {
  padding: 10px 15px;
}

.table input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.2);
}

.table a {
  text-decoration: none;
  font-size: 18px;
  color: #4CAF50;
  transition: color 0.3s ease-in-out;
}

.table a:hover {
  color: #388E3C;
}
