.container-invoice {
  display: flex;
  height: 100vh;
}

.content {
  width: 150%;
  padding: 20px;
  overflow-y: auto;
}

.alert {
  background-color: #ffe5e5;
  padding: 10px;
  color: red;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}