<div class="login-container">
  <form (ngSubmit)="onLogin()" class="form-signin">

    <img class="logo" src=".\assets\logo.png">

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Usuário" [(ngModel)]="username" name="username" required />
      <label for="floatingInput">Usuário</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" [(ngModel)]="password" name="password" required />
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="w-100 btn btn-lg" style="background-color: #043873; color: white;" type="submit">Sign in</button>

    <div *ngIf="message" class="error-message">
    <p>{{message}}</p>
  </div>

  </form>
</div>
